extends ./layout

block body
  #content
    p= "This is the stats site for the Post-rock & Beyond room on Turntable.fm"
    p= "Our room's genre is as follows:"
      ul
        li= "Post-rock"
        li= "Post-metal"
        li= "Math"
    p= "& Beyond does not mean play anything else you want. Beyond means that similar styles of music are allowed."
    p= "AFK DJ's wil be removed from the decks if they are idle for more than 20 minutes.  If the decks are not full, we can make some exceptions."
    p= "Track Length is irrelevant, the post rocks are long."

    p
      a(href="http://www.last.fm/group/Post-Rock%2B%2526%2BBeyond%2Bturntable.fm")="Post-rock & Beyond last.fm group."
    p
      | This site not affiliated with or endorsed by
      a(href="http://turntable.fm")="Turntable.fm"
      |  in any way.
    #callouts
      p= "This bot and website was created by Turntable.fm Dj Jerk: "
        a(href="http://www.scottwernerd.com")="Scott Werner "
        a(href="http://twitter.com/scottwisme")="(Twitter) "
        a(href="http://github.com/swerner")="(Github) "
        a(href="http://github.com/swerner/PostRockAndBeyond")="(This Bot's Code)"

      p= "Website Design with help from Turntable.fm Dj MashTheSandwich"
      p= "In-room bot interaction with help from Turntable.fm Dj Damien"
