h1= title

h2= artist.name
span.plays= "Plays: "+artist.plays
#tracks
ul
  each track in artist.tracks
    li.track
      h3.albumname= "Album: "+track.album
      h3.trackname= "Track: "+track.name
      
