#content
  h2= "Contact"
  p= "Most of the time you can find us in the "
    a(href="http://turntable.fm/postrock_beyond")="Post-rock & Beyond"
    |  room on
    a(href="http://turntable.fm")="Turntable.fm"
  p= "For bot and website questions and inquiries contact Scott Werner on "
    a(href="http://twitter.com/scottwisme")="Twitter"
    |  or
    a(href="http://github.com/swerner")="Github"

