div#header
  h1= title
  div#current
    h2= "Currently Playing"
    span.currentLabel= "Artist: "
    span.currentArtist= currentTrack.artist
    br
    span.currentLabel= "Album: "
    span.currentAlbum= currentTrack.album
    br
    span.currentLabel= "Track: "
    span.currentTrack= currentTrack.song
  div#djs
    h2= "Currently Djing"
    each dj, i in djs
      span.djs= (i+1)+"."+dj.name
      br

