!!! 5
html
  head
    title= "Post Rock & Beyond |"+title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href='http://fonts.googleapis.com/css?family=Federo', rel='stylesheet', type='text/css') 
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24042802-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  if(typeof(artistName) !== 'undefined')
    body(class= artistName)
  else
    body

      #header
        h1
          a(href="/", style="border-bottom:0px")= "Post Rock & Beyond"
        ul
          li
            a(href='/artists')="Artists"
          li
            a(href='/djs')="Djs"
          li
            a(href='http://turntable.fm/postrock_beyond')="Turntable.fm Room"
          li
            a(href='/about')="About"
          li
            a(href='/contact')="Contact"
      #container!= body
      .clearfix


